[Unit]
Description=Backyard Bird Camera Service
After=network.target pigpiod@%i.service
Requires=pigpiod@%i.service

[Service]
Type=simple
User=%i
Group=gpio
WorkingDirectory=/home/%i/backyard_bird_cam
ExecStartPre=/bin/sleep 5
ExecStartPre=/usr/bin/python3 -c "import pigpio; pi = pigpio.pi(); pi.stop()"
ExecStart=/usr/bin/python3 -u -m pi_bird_cam.main --debug
ExecStop=/bin/kill -TERM $MAINPID
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=30
Restart=always
RestartSec=10
StandardOutput=append:/var/log/backyard_bird_cam.log
StandardError=append:/var/log/backyard_bird_cam.error.log
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH=/home/%i/backyard_bird_cam
Environment=DEBUG=1
Environment=LOG_LEVEL=DEBUG

[Install]
WantedBy=multi-user.target 