[Unit]
Description=Bird Camera Trigger Service
After=pigpiod.service
Requires=pigpiod.service

[Service]
Type=simple
# Use the user that runs the service
User=%i
WorkingDirectory=%h/backyard_bird_cam
ExecStart=/usr/bin/python3 %h/backyard_bird_cam/scripts/simple_pir_trigger.py
# Add environment variables for debugging
Environment=PYTHONUNBUFFERED=1
Environment=SERVICE_DEBUG=1
Restart=always
RestartSec=30
StandardOutput=append:/var/log/bird-camera.log
StandardError=append:/var/log/bird-camera.error.log

[Install]
WantedBy=multi-user.target 