[Unit]
Description=Bird Camera Service
After=network.target

[Service]
Type=simple
User=fizz
WorkingDirectory=/home/fizz/projects/backyard_bird_cam
ExecStart=/home/fizz/projects/backyard_bird_cam/venv/bin/python src/main.py --debug
Restart=on-failure
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bird_camera

[Install]
WantedBy=multi-user.target 