[Unit]
Description=Backyard Bird Camera Service
After=network.target pigpiod.service
Requires=pigpiod.service

[Service]
Type=forking
User=%i
Group=gpio
WorkingDirectory=/home/%i/backyard_bird_cam
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python3 -u /home/%i/backyard_bird_cam/pi_bird_cam/main.py --debug
ExecStop=/bin/kill -TERM $MAINPID
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=30
Restart=always
RestartSec=10
StandardOutput=append:/var/log/backyard_bird_cam.log
StandardError=append:/var/log/backyard_bird_cam.error.log
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH=/home/%i/backyard_bird_cam
Environment=DEBUG=1
Environment=LOG_LEVEL=DEBUG

[Install]
WantedBy=multi-user.target 