[Unit]
Description=Backyard Bird Camera Service
After=network.target
Requires=pigpiod.service

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i/backyard_bird_cam
# Add user to gpio group and wait for pigpiod
ExecStartPre=/usr/bin/sudo /usr/sbin/usermod -a -G gpio %i
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /home/%i/backyard_bird_cam/scripts/simple_pir_trigger.py --sampling-rate 0.05 --burst 5 --burst-delay 0.3
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 