[Unit]
Description=PIGPIO Daemon Service
After=multi-user.target

[Service]
Type=forking
ExecStart=/usr/bin/pigpiod
ExecStop=/bin/systemctl kill pigpiod
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 