[Unit]
Description=PIGPIO Daemon Service
After=network.target
Before=backyard_bird_cam@%i.service

[Service]
Type=simple
User=%i
Group=gpio
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/pigpiod -v
ExecStartPost=/bin/sleep 2
ExecStartPost=/usr/bin/pgrep pigpiod
ExecStartPost=/bin/sleep 1
ExecStartPost=/usr/bin/python3 -c "import pigpio; pi = pigpio.pi(); pi.stop()"
Restart=always
RestartSec=10
StandardOutput=append:/var/log/pigpiod.log
StandardError=append:/var/log/pigpiod.error.log

[Install]
WantedBy=multi-user.target 